# Coverage

.coverage
coverage.xml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
outputs/ones_count_problem/dimension_25-vns-min-2023-07-03-13-39-50.702521.txt
app/ones_count_problem/outputs/dimension_25-vns-max-2023-09-09-10-54-57.536320.txt
app/ones_count_problem/outputs/dimension_25-vns-max-2023-09-09-10-54-57.750310.txt
app/ones_count_problem/outputs/dimension_25-vns-max-2023-09-09-10-57-26.621275.txt
app/ones_count_problem/outputs/dimension_25-vns-max-2023-09-09-10-57-26.831587.txt
app/ones_count_problem/outputs/dimension_25-vns-max-2023-09-09-11-01-19.290950.txt
app/ones_count_problem/outputs/dimension_25-vns-max-2023-09-09-11-01-19.503072.txt
app/ones_count_problem/outputs/dimension_25-vns-max-2023-09-09-11-02-17.813932.txt
app/ones_count_problem/outputs/dimension_25-vns-max-2023-09-09-11-02-18.020168.txt
app/single_objective_oprimization_problems/trivial/ones_count_problem/outputs/dimension_25-vns-max-2023-09-06-20-24-52.117075.txt
app/single_objective_oprimization_problems/trivial/ones_count_problem/outputs/dimension_25-vns-max-2023-09-06-20-25-36.514458.txt
app/single_objective_oprimization_problems/trivial/ones_count_problem/outputs/dimension_25-vns-max-2023-09-09-10-54-57.536320.txt
app/single_objective_oprimization_problems/trivial/ones_count_problem/outputs/dimension_25-vns-max-2023-09-09-10-54-57.750310.txt
app/single_objective_oprimization_problems/trivial/ones_count_problem/outputs/dimension_25-vns-max-2023-09-09-10-57-26.621275.txt
app/single_objective_oprimization_problems/trivial/ones_count_problem/outputs/dimension_25-vns-max-2023-09-09-10-57-26.831587.txt
app/single_objective_oprimization_problems/trivial/ones_count_problem/outputs/dimension_25-vns-max-2023-09-09-11-01-19.290950.txt
app/single_objective_oprimization_problems/trivial/ones_count_problem/outputs/dimension_25-vns-max-2023-09-09-11-01-19.503072.txt
app/single_objective_oprimization_problems/trivial/ones_count_problem/outputs/dimension_25-vns-max-2023-09-09-11-02-17.813932.txt
app/single_objective_oprimization_problems/trivial/ones_count_problem/outputs/dimension_25-vns-max-2023-09-09-11-02-18.020168.txt
app/single_objective_oprimization_problems/trivial/ones_count_problem/outputs/dimension_77-vns-max-2023-07-09-14-57-21.147373.csv
app/single_objective_oprimization_problems/trivial/ones_count_problem/outputs/dimension_77-vns-max-2023-07-09-14-59-24.220923.csv
app/single_objective_oprimization_problems/trivial/ones_count_problem/outputs/dimension_77-vns-max-2023-07-09-18-10-10.370226.csv
app/single_objective_oprimization_problems/trivial/ones_count_problem/outputs/dimension_77-vns-max-2023-07-09-18-10-55.459532.csv
app/single_objective_oprimization_problems/trivial/ones_count_problem/outputs/dimension_77-vns-max-2023-07-10-14-01-40.827858.csv
app/single_objective_oprimization_problems/trivial/ones_count_problem/outputs/dimension_77-vns-max-2023-07-10-17-15-25.484215.csv
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-BitArray-vns-max-2023-09-20-13-59-05.771256.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-BitArray-vns-max-2023-09-20-13-59-05.974697.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-BitArray-vns-max-2023-09-20-14-00-11.802660.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-BitArray-vns-max-2023-09-20-14-00-12.011624.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-BitArray-vns-max-2023-09-20-14-02-24.894136.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-BitArray-vns-max-2023-09-20-14-02-25.105222.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-BitArray-vns-max-2023-09-20-14-03-43.022750.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-BitArray-vns-max-2023-09-20-14-03-43.249521.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-BitArray-vns-max-2023-09-20-14-04-23.479934.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-BitArray-vns-max-2023-09-20-14-04-23.709187.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-BitArray-vns-max-2023-09-20-14-05-27.025902.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-BitArray-vns-max-2023-09-20-14-05-27.285294.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-int-vns-max-2023-09-20-13-59-05.352172.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-int-vns-max-2023-09-20-13-59-05.563606.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-int-vns-max-2023-09-20-14-00-11.383528.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-int-vns-max-2023-09-20-14-00-11.596149.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-int-vns-max-2023-09-20-14-02-24.463692.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-int-vns-max-2023-09-20-14-02-24.678377.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-int-vns-max-2023-09-20-14-03-42.587692.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-int-vns-max-2023-09-20-14-03-42.800693.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-int-vns-max-2023-09-20-14-04-23.052191.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-int-vns-max-2023-09-20-14-04-23.254705.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-int-vns-max-2023-09-20-14-05-26.566258.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_25-maxones-int-vns-max-2023-09-20-14-05-26.790047.txt
opt/single_objective/trivial/ones_count_problem/outputs/dimension_77-maxones-BitArray-vns-max-2023-09-20-17-59-11.386016.csv
